@import '../../styles/variables/variables'

.wrapper
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    background: $color-background

.menu
    background: $color-background
    padding: 2rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.title, .subtitle, .logout
    padding: 0 2rem 1rem 2rem

.title
    margin-bottom: 2rem

.subtitle
    width: 100%
    display: flex
    justify-content: space-between
    gap: 1rem
    border-bottom: 3px solid $color-main
    p
        font-weight: $weight-regular
        font-size: $size-regular


.links
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    border-bottom: 3px solid $color-main
    padding: 1rem 0
    margin-bottom: 2rem
    li
        width: 100%

.link
    display: block
    padding: 2rem
    font-weight: $weight-regular
    &:hover
        background: $color-main
        color: $color-background
        padding-left: 60%

.logout
    width: 100%
    padding: 0 2rem
    display: flex
    align-items: center
    .button
        width: 100%


@media (max-width: 700px)
    .subtitle, .logout
        flex-direction: column   